<?xml version="1.0"?>
<root>
    <genicam>
        <!-- Документация по SMARTEK https://dvd.ilphotonics.com/Smartek%20Vision%20-%20GigE%20&%20USB3%20cameras%20-%20pulsed%20LED%20drivers/Cameras/SMARTEKvision_twentynine_UserManual_v1-1-0.pdf -->
        <!-- Время экспозиции -->
        <ExposureTime>10000.0</ExposureTime>
        <!-- Получать цветное изображение 0 - нет, 1 - да -->
        <ColorImage>0</ColorImage>>
        <!-- Усиление цветочувствительности -->
        <Gain>0</Gain>
        <!-- Усиление цветочувствительности зеленого -->
        <GainGreen>0</GainGreen>
        <!-- Усиление цветочувствительности красного -->
        <GainRed>0</GainRed>
        <!-- Усиление цветочувствительности синего -->
        <GainBlue>0</GainBlue>
        <!-- Уменьшение изображения на коэффициент по ширине -->
        <CoefW>1</CoefW>
        <!-- Уменьшение изображения на коэффициент по высоте -->
        <CoefH>1</CoefH>
        <!-- Ширина получаемого изображения в пикселях -->
        <Width>700</Width>
        <!-- Высота получаемого изображения в пикселях -->
        <Height>500</Height>
        <!-- Отступ получаемого изображения слева в пикселях -->
        <OffsetX>0</OffsetX>
        <!-- Отступ получаемого изображения сверху в пикселях -->
        <OffsetY>500</OffsetY>
        <!-- Установить максимальную ширину и высоту поддерживаемой камерой 0 - нет, 1 - да -->
        <!-- Если установлена 1, то параметры "Width", "Height", "OffsetX", "OffsetY" игнорируются     -->
        <MaxWidthAndHeight>1</MaxWidthAndHeight>
        <!-- Частота запроса к камере на получение изображений в секундах, 0 - нет задержки -->
        <sleepFrame>0.03</sleepFrame>
        <!-- Минимальная ширина отображаемого виджета с изображением -->
        <WidthUI>700</WidthUI>
        <!-- Минимальная высота отображаемого виджета с изображением -->
        <HeightUI>495</HeightUI>
    </genicam>
</root>